<!DOCTYPE html>
<html>
  <head> 
    <title> 
      Welcome to TDMPOC 
    </title>
      
    <!-- text-decoration property to remove
        underline from anchor tag -->
    <style>
        #GFG {
            text-decoration: none;
        }
        
    </style>
</head> 
<body text="red">
  <center><i>
    <marquee style="color:green;">  
      Welcome to TDMPOC
      </marquee>  
  <h1>@ --> Welcome to TDMPOC Application <-- @</h1></i></center>
  <button><a id = "GFG" href="/generate">Generate Prod Data</a></button><br><br>
  <button><a id = "GFG" href="/customers">Prod_Customers Data</a></button><br><br>
  <button><a id = "GFG" href="/products">Prod_Products Data</a></button><br><br>
  <button><a id = "GFG" href="/orders">Prod_Orders Data</a></button><br><br><br><br>
  <button><a id = "GFG" href="/clone_to_dev">Clone to Dev</a></button><br><br>
  <button><a id = "GFG" href="/dev_customers/100">Dev_Customers Data</a></button><br><br>
</body>
</html>